.las {
    position: absolute;
    top: 3px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .las4 {
    position: absolute;
    top: 55px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .las1 {
    position: absolute;
    top: 170px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .las2 {
    position: absolute;
    top: 110px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .lasmain {
    position: absolute;
    top: 3px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .lasmainone {
    position: absolute;
    top: 55px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .lasmaitwo {
    position: absolute;
    top: 110px;
    right: 50px;
  
    color: white;
    background-color: rgba(0,0,0,0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
