<ion-header>
    <ion-navbar color="gras">
        <ion-title>Animal</ion-title>
    </ion-navbar>
</ion-header>


<ion-content scroll="false">
    <ion-list no-lines>
        <ion-item-sliding *ngFor="let animal of animalList">
            <ion-item>
                <ion-avatar item-start>
                    <img src="/assets/IconoAnimal.png">
                </ion-avatar>
                <h2>Nombre: {{animal.nombre}}</h2>
                <p>Peso: {{animal.peso}}</p>
                <p>Codigo: {{animal.codigo}}</p>
            </ion-item>
            <ion-item-options>
                    <div *ngIf = "animal.genero == 'Hembra'">
                            <button ion-button icon-only color="light" style="visibility:visible;">
                                    <ion-icon name="md-add-circle"></ion-icon>
                                  </button>
                          </div>
                <button ion-button icon-only color="primary" (click)="informationAnimal(animal)">
                            <ion-icon name="md-information-circle"></ion-icon>
                          </button>
                <button ion-button icon-only color="light" (click)="updateAnimal(animal)">
                      <ion-icon name="create"></ion-icon>
                    </button>
                <button ion-button icon-only color="primary" (click)="deleteAnimal(animal)">
                      <ion-icon name="md-trash"></ion-icon>
                    </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="reds" (click)="goToCreateAnimal()">
              <ion-icon name="md-add-circle"></ion-icon>
            </button>
    </ion-fab>
    <ion-fab right bottom #fab>
        <button ion-fab (click)="openFabButton()">
                    Acciones
             </button>
        <ion-fab-list side="top">
            <button ion-fab  (click)="share('crear', fab)">
                  <img src="assets/alimentacion.png"> 
              </button>
              <ion-label class="las1">Crear Animal</ion-label>
            <button ion-fab color="secondary"  (click)="share('actualizar', fab)">
                    <ion-icon name="md-finger-print"></ion-icon>
                    
                  </button>
                  <ion-label class="las2">Actualizar</ion-label>

                  <button ion-fab color="secondary"  (click)="share('inseminacion', fab)">
                    <ion-icon name="md-finger-print"></ion-icon>
                    
                  </button>
                  <ion-label class="las">Ver Inseminacion</ion-label>
        </ion-fab-list>
    </ion-fab>
</ion-content>